.homepage {
  background-color: #FFFFFF; /* White */
}

.slider {
  position: relative;
  width: 100%;
  height: 90vh; /* Responsive height */
  overflow: hidden;
}

.slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure it covers the screen */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img.active {
  opacity: 1;
}

/* Responsive Overlay Text */
.overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
  max-width: 650px;
}

.overlay h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.overlay p {
  font-size: 1.2rem;
  color: white;
  background-color: #F88379;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-top: -6%;
}

/* Features Section */
.home-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 20px;
}

/* Feature Card */
.feature-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-card h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.feature-card p {
  font-size: 16px;
  color: #666;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .home-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .overlay h1 {
    font-size: 2.5rem;
  }

  .overlay p {
    font-size: 1rem;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    height: 60vh;
  }

  .overlay {
    width: 90%;
  }

  .overlay h1 {
    font-size: 2rem;
  }

  .overlay p {
    font-size: 1rem;
    padding: 8px;
  }

  .home-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }

  .feature-card {
    padding: 20px;
  }

  .feature-card h3 {
    font-size: 20px;
  }

  .feature-card p {
    font-size: 14px;
  }
}
