.footer {
  background-color: #E4726B; /* Coral */
  color: white;
  text-align: center;
}

.footer-content{
  padding: 15px;
}

.footer-links {
  margin-top: 10px;
  padding: 15px;
}

.footer-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #FFB6A3; /* Light Pink */
}

.footer-bottom {
  background-color: #e25f58; /* Muted Coral */
  padding: 10px;
  margin-top: 50px;
  font-size: 14px;
}
